/********* simple reset **********/
@import "./reset.css";
/**********************************/

/********* app **********/
html, body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#top_section {
  height: 50px;
  background: linear-gradient(#ddd, #fff);

  font-size: 20px;
}

#top_section > h2 {
  font-weight: bold;
  margin: 10px;
}

#main_section {
  flex: 1;
  height: 100%;
  display: flex;
}

#toolbar {
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, #ddd, #fff);
}

#canvas_section {
  height: 100%;
  flex: 1;
  /* background-color: aqua; */
}

/**********************************/
